@import url('config.css'); 

.grid-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    /*FOR DEFAULT, THE HTML UNDERSTAND THAT EXIST A DEFAULT WIDTH, BUT DIDN'T A HEIGHT, SO YOU MUST DEFINE IT USING THE HEIGHT FUNCTION*/
    height: 100vh; /*VH IT'S A VIEWPORT, 100VH MEANS TO USE 100% OF PAGE VIEW*/
    grid-template-rows:30% 20%; 
    /*THE NUMBER OF ROWS (lines) IS DEFINED THE NUMBER OF COLUMNS AND BOXES YOU USE*/
    /* GRID TEMPLATE-COLUMNS: auto; SPLIT ALL COLUMNS INTO 100% SPACE EQUALLY (:auto auto TO TWO COLUMNS EQUALLY... UP TO THE MAXIMUM COLUMNS POSSIBLE (12));
    GRID TEMPLATE-ROWS: auto; SPLIT ALL LINES INTO 100% SPACE EQUALLY*/
}